body {
	background-color: #eee;
	overflow-y: hidden;
	font-size: 14px;
}

html, body, section {
	height: 100%;
}
body {
	padding-top: 50px;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 16px;
}

.table-golf-app {

	td {
		vertical-align: middle;
	}

	input {
		max-width: 50px;
		text-align: center;
	}
}

.table-score-card {

	tbody {

		td {
			text-align: center;
		}
	}
}


.wrap-app-holes, .wrap-app-complete {
	position: relative;
	top: -50px;

	form {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

.wrap-app-holes {

	h3 {

		span {
			font-weight: 300;
		}
	}
}

.wrap-app-init {
	position: relative;
	top: -50px;
	padding-top: 50px;
}

.wrap-app-complete {

	h2 {

		span {
			font-weight: 300;
		}
	}
}
.wrap-shadow {
	position: relative;

	&:after {
		content: '';
		position: absolute;
		height: 96%;
		top: 0;
		right: 0;
		width: 1px;
		background-color: #fff;
		box-shadow: -4px -1px 8px rgba(0, 0, 0, 0.5);
	}
}

.wrap-table {
	overflow-x: auto;
}


@media (min-width: 992px) {

	.wrap-shadow {

		&:after {
			content: none;
		}
	}

}
