body {
  background-color: #eee;
  overflow-y: hidden;
  font-size: 14px; }

html, body, section {
  height: 100%; }

body {
  padding-top: 50px; }

h1 {
  font-size: 24px; }

h2 {
  font-size: 20px; }

h3 {
  font-size: 16px; }

header {
  position: relative;
  z-index: 1;
  height: auto;
  padding: 10px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.125);
  background-color: white; }

.table-golf-app th {
  vertical-align: middle; }

.table-golf-app td {
  vertical-align: middle; }

.table-golf-app label {
  margin-right: 10px; }

.table-golf-app input[type='text'] {
  display: inline-block;
  max-width: 50px;
  margin-left: 10px;
  text-align: center; }

.table-golf-app button {
  position: relative;
  top: -3px;
  margin-right: 5px; }

.table-score-card thead th {
  height: 48px; }
  .table-score-card thead th div {
    position: absolute;
    top: 15px; }

.table-score-card tbody td {
  text-align: center;
  position: relative; }

.table-score-card tbody .par-birdie {
  color: #fff; }
  .table-score-card tbody .par-birdie:after {
    content: '';
    position: absolute;
    height: 24px;
    width: 24px;
    left: 50%;
    margin-left: -12px;
    background-color: #28a745;
    border-radius: 150px;
    top: 11px;
    z-index: -1; }

.table-score-card tbody .par-eagle {
  color: #fff; }
  .table-score-card tbody .par-eagle:after {
    content: '';
    position: absolute;
    height: 24px;
    width: 24px;
    left: 50%;
    margin-left: -12px;
    background-color: #ffc107;
    border-radius: 150px;
    top: 11px;
    z-index: -1; }

.table-score-card tbody .par-bogey {
  color: #fff; }
  .table-score-card tbody .par-bogey:after {
    content: '';
    position: absolute;
    height: 24px;
    width: 24px;
    left: 50%;
    margin-left: -12px;
    background-color: rgba(0, 0, 0, 0.25);
    top: 11px;
    z-index: -1; }

.table-score-card tbody .par-double-bogey {
  color: #fff; }
  .table-score-card tbody .par-double-bogey:after {
    content: '';
    position: absolute;
    height: 24px;
    width: 24px;
    left: 50%;
    margin-left: -12px;
    background-color: #212529;
    top: 11px;
    z-index: -1; }

.table-score-card tbody th {
  min-width: 80px; }

.table-score-card tbody th div {
  position: absolute;
  z-index: 1;
  left: 0px;
  height: 45px;
  min-width: 80px;
  padding-left: 10px;
  padding-top: 10px;
  background-color: #eee; }

.table-score-card tbody tr:nth-of-type(odd) th div {
  background-color: #e2e2e2; }

.table-score-card tbody tr:nth-child(1) th div {
  top: 48px; }

.table-score-card tbody tr:nth-child(2) th div {
  top: 94px; }

.table-score-card tbody tr:nth-child(3) th div {
  top: 140px; }

.table-score-card tbody tr:nth-child(4) th div {
  top: 186px; }

.table-score-card tbody tr:nth-child(5) th div {
  top: 232px; }

.table-score-card tbody tr:nth-child(6) th div {
  top: 281px; }

.table-score-card tbody tr:nth-child(6) th div {
  top: 279px; }

.table-score-card tbody tr:nth-child(7) th div {
  top: 325px; }

@media (min-width: 992px) {
  .table-score-card thead th {
    height: auto; }
    .table-score-card thead th div {
      position: static;
      top: 15px; }
  .table-score-card tbody th {
    min-width: auto; }
  .table-score-card tbody th div {
    position: static;
    left: auto;
    height: auto;
    min-width: auto;
    padding-left: 0;
    padding-top: 0;
    background-color: transparent;
    border-right: 0; }
  .table-score-card tbody tr:nth-of-type(odd) th div {
    background-color: transparent; }
  .table-score-card tbody tr:nth-child(1) th div {
    top: auto; }
  .table-score-card tbody tr:nth-child(2) th div {
    top: auto; }
  .table-score-card tbody tr:nth-child(3) th div {
    top: auto; }
  .table-score-card tbody tr:nth-child(4) th div {
    top: auto; }
  .table-score-card tbody tr:nth-child(5) th div {
    top: auto; }
  .table-score-card tbody tr:nth-child(6) th div {
    top: auto; }
  .table-score-card tbody tr:nth-child(6) th div {
    top: auto; }
  .table-score-card tbody tr:nth-child(7) th div {
    top: auto; } }

.wrap-app-holes, .wrap-app-complete {
  position: relative;
  top: -50px; }
  .wrap-app-holes form, .wrap-app-complete form {
    padding-top: 20px;
    padding-bottom: 20px; }

.wrap-app-holes h3 span {
  font-weight: 300; }

.wrap-app-init {
  position: relative;
  top: -50px;
  padding-top: 50px; }

.wrap-app-complete h2 span {
  font-weight: 300; }

.wrap-shadow {
  position: relative; }
  .wrap-shadow:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 83.5%;
    background-color: #aaa;
    left: 80px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    bottom: 17px; }
  .wrap-shadow:after {
    content: '';
    position: absolute;
    height: 96%;
    top: 0;
    right: 0;
    width: 1px;
    background-color: #fff;
    box-shadow: -4px -1px 8px rgba(0, 0, 0, 0.5); }

.wrap-table {
  overflow-x: auto; }

@media (min-width: 992px) {
  .wrap-shadow:after, .wrap-shadow:before {
    content: none; } }

.scroll-vert {
  height: 100%;
  overflow-y: auto; }

.text-dull {
  color: #aaa; }
